body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #ffffff;  
    min-width: 940px;
    background-color: #849d8f;
  }
a {
    text-decoration: none; 
  }
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}
.modal   {
    display: none;
    z-index: 1;
}
.button {
    font-size: 18px;
    line-height: 24px; 
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;       
    
    background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);    
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
      
    border: none; 
    border-radius: 45px;
}
.button:hover,
.button:focus {  
    background-image: linear-gradient(#f58669, #ec6f5e);
    box-shadow: 0 2px 2px #9e4334;
}
.button:active {
    box-shadow: inset 0px 2px 2px 0 #942718;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(to top, #e74a35, #f26843);
}
.slider-button {
    font-size: 32px;
    line-height: 44px; 
    padding: 10px 35px; 
    margin-top: 34px;
}
.offer-button {
    padding: 10px 18px;
    position: absolute;
    bottom: 25px;
    right: 22px;
}
.contacts-button {
    padding: 11px 27px;
}
.main-navigation-list,
.slider-list,
.offer-list,
.features-list,
.breadcrumbs,
.fillers-list,
.catalog-list,
.top-product-list,
.pagination-list,
.main-navigation-dropdown-list {
    list-style: none;
}
.feedback-form input,
.search-form input,
.login-form input,
.subscription-form input{
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    color: #323232;
}
.header {
    min-height: 75px;
    position: relative;
}
.header-logo {
    margin-top: 6px;
}
.main-navigation-list {
    display: flex;
    margin: 0px;
    padding: 0px;
    margin-left: 10px;    
}
.main-navigation-list > li {
    margin: 0px; 
    position: relative;  
}
.main-navigation a {       
    line-height: 18px; 
    font-weight: 700;
    color: #ffffff;
    padding: 6px 14px;
    display: block;
    text-decoration: none;
    position: relative;
}
.main-navigation-item > a::before {
    content: "";
    position: absolute;
    left: 13px;
    right: 13px;
    bottom: 10px;
    height: 1px;
    background-color: white;
    opacity: 0.2;
}
.main-navigation-item > a:hover,
.submenu > a:hover {
    background-color: #ffffff;
    color: #000000;
    border-radius: 15px;
}
.main-navigation-dropdown-list {
    display: none; 
    position: absolute;
    width: 143px;
    padding: 0;
    padding-top: 5px;
    z-index: 1;
}
.submenu:hover > ul {    
    display: block;
    border-radius: 10px;    
}
.main-navigation-dropdown-list a{
    font-size: 14px;    
    line-height: 16px; 
    font-weight: 400;
    display: block;
    color: black;
    text-decoration: none;
    background-color: #f8f7f4; 
}
.main-navigation-dropdown-list a:hover{ 
    background-color: #fbded7;
    color: black;
}
.main-navigation-dropdown-list a:active{
    background-color: #f6b5a5;
}
.current-page a {
    background-color: #d07058;
}
.login a,
.basket-button span {
    font-size: 14px;
    line-height: 16px; 
    font-weight: 700;
    color: white;
}
.login svg,
.basket svg,
.basket-button-full-icon {
    position: absolute;
    left: 18px;
    top: 7px;
}
.search svg,
.login svg {
    fill: white;
}
.search-button {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 7px 9px;
    border-radius: 50%;
    margin-left: 10px;
    border: none; 
}
.login-button {
    display: block;
    position: relative;
    padding-top: 8px;
    padding-bottom: 8px;    
    padding-left: 45px;
    padding-right: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    margin-left: 10px;
    border: none;
}
.basket-button {
    display: block;
    position: relative;
    padding-top: 8px;
    padding-bottom: 8px;    
    padding-left: 45px;
    padding-right: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    margin-left: 10px;
    border: none;
}
.search-button:hover,
.login-button:hover {
    color: black;
    background-color: white;
}
.search-button:hover svg,
.login-button:hover svg {
    fill: black;
}
.search:hover > div,
.login:hover > div,
.basket-full:hover > div {
    display: block;
}
.search,
.login,
.basket-full {
    position: relative;
}
.search-modal {
    position: absolute;    
    background-color: transparent;
    right: 0px;
    padding-top: 5px;
}
.search-form {
    padding: 20px 15px;
    background-color: #f8f7f4;
    border: none;
    border-radius: 5px;
}
.search-form input{
    box-sizing: border-box;
    min-height: 44px;
    width: 311px;
    border-radius: 5px;
    box-shadow: none;
    border: solid 1px #d3d3d2;
    padding: 15px;
}
.login-modal {
    position: absolute;    
    background-color: transparent;  
    right: 0px;
    padding-top: 5px;
}
.login-form {
    border-radius: 5px;
    padding-top: 20px;
    padding-left: 19px;
    padding-right: 17px;
    padding-bottom: 22px;
    background-color: #f8f7f4;
}
.login-form a {
    color: black;
    text-decoration: underline;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
}
.login-form input {    
    box-sizing: border-box;
    min-height: 40px;
    width: 241px;
    border-radius: 5px;
    box-shadow: none;
    border: solid 1px #d3d3d2;
    padding: 13px;
}
.login-form p {
    margin: 0px;
    margin-bottom: 20px;
}
.login-form-button {
    padding: 11px 23px;    
    vertical-align: middle;
}
.login-form-articles {
    margin: 0px;
    padding: 0px; 
    padding-left: 17px;   
    list-style: none;
    display: inline-block;
    vertical-align: middle;
}
.search-form input::placeholder,
.login-form input::placeholder {
    font-size: 14px;
    line-height: 24px; 
    font-weight: normal; 
    color: #999999;   
}
.basket-button-full {
    position: relative;    
    display: block;
    background-color: white;
    padding-top: 8px;
    padding-bottom: 8px;    
    padding-left: 45px;
    padding-right: 15px;
    border-radius: 15px;
    margin-left: 10px;
    border: none;
}
.basket-product{
    font-weight: 700;
}
.basket-modal {
    position: absolute; 
    right: 0px;  
    width: 540px;    
    padding-top: 5px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    color: black;
}
.basket-close {
    position: static;
    border: none;
    background-color: white;
}
.basket-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 18px;
    padding-left: 15px;
    background-color: #f8f7f4;
}
.basket-form table {
    font-size: 13px;
    line-height: 16px; 
    font-weight: normal;
    border-spacing: 0px 10px;
    padding-bottom: 13px;
    border-bottom: 1px solid #cacac7;
}
.basket-form p {  
    margin-left: auto;
    margin-right: 0; 
    margin-top: 12px;
    font-size: 15px;
    line-height: 18px; 
    font-weight: bold;
}
.basket-form a {
    margin-left: auto;
    margin-right: 0px;
    padding: 10px 14px;
}
.basket-form tr {
    padding: 0px;
    margin: 0px;
}
.basket-form td:nth-child(3) {
    padding-left: 10px;
    padding-right: 15px;
    max-width: 210px;
}
.basket-form span {
    color: #999999;
}
.basket-form td:nth-child(4) {
    padding-right: 25px;
}
.header-contacts {
    position: absolute;
    right: 27px;
    top: 73px;
    font-size: 14px;
    line-height: 16px; 
    font-weight: bold;
    text-align: right;
    margin: 0;
}
.header-tel {
    font-size: 22px;
    line-height: 30px; 
    font-weight: bold; 
}
.site-wrapper {
    margin: 0px;
    min-width: 940px;
    background-color: #849d8f;
    background-image: url("../img/slider_1.jpg");
    background-repeat: no-repeat;
    background-position: center;

    transition: background-image 0.5s ease, background-color 0.5s ease;
}
.slider {
    position: relative;
    padding-top: 300px; 
    text-align: center;
}
.slider-list {
    padding: 0px;
    margin: 0px;
    margin-top: 13px;
}   
.slide {
    display: none;
} 
.slider-item h3 {
    font-size: 60px;
    line-height: 60.5px; 
    font-weight: 700; 
    width: 700px;
    margin: 0 auto;
}
.slider-controls {
    position: absolute;
    bottom: 20px;
    left: 27px;
    z-index: 20;
    
    font-size: 0;
  }
.slider-controls label {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 8px;
  
    vertical-align: top;
  
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
  }
.slider-controls label:hover,
.slider-controls label:focus {
    width: 17px;
    height: 17px;
    background-color: rgba(248, 247, 244, 0.4);
    border: 2px solid #ffffff;
    border-radius: 50%;    
  }
.slider-controls label:active {
    width: 17px;
    height: 17px;
    background-color:white;
    border: 2px solid #ffffff;
    border-radius: 50%;    
  }
  #product-1:checked ~ .site-wrapper {
    background-color: #849d8f;
    background-image: url("../img/slider_1.jpg");
  }
  
  #product-2:checked ~ .site-wrapper {
    background-color: #8996a6;
    background-image: url("../img/slider_2.jpg");
  }
  
  #product-3:checked ~ .site-wrapper {
    background-color: #9d8b84;
    background-image: url("../img/slider_3.jpg");
  }
  #product-1:checked ~ .site-wrapper #slide1,
  #product-2:checked ~ .site-wrapper #slide2,
  #product-3:checked ~ .site-wrapper #slide3 {
    display: block;
  }
  #product-1:checked ~ .site-wrapper label[for="product-1"],
  #product-2:checked ~ .site-wrapper label[for="product-2"],
  #product-3:checked ~ .site-wrapper label[for="product-3"] {
    background-color: #ffffff;
  }
.offer-item {
    position: relative;
}
.offer-item:first-child {
    background: url("../img/raspberries.png") no-repeat;    
    background-color: #9c1e25;
    background-size: cover;
    width: 560px;
    height: 229px;
    border-radius: 15px;
    margin-right: 26px;
}
.offer-item:nth-child(2) {
    background: url("../img/chocolate.png") no-repeat;    
    background-color: #60442f;
    background-size: cover;
    width: 560px;
    height: 229px;
    border-radius: 15px;
}
.offer-item h3{
    font-size: 35px;
    line-height: 41px; 
    font-weight: 700;  

    margin: 0;
    margin-top: 16px;
    margin-left: 19px;
    margin-bottom: 15px;
}
.offer-item p{
    font-size: 18px;
    line-height: 22px; 
    font-weight: 500; 
    
    margin: 0;
    margin-left: 19px; 
    max-width: 520px;   
}
.footer-links a:hover,
.footer-copyright a:hover,
.footer-links a:focus,
.footer-copyright a:focus {
    color:#ffbc9e;
}
.news a:hover,
.news a:focus {
    color: #e84d37;
}
.features {
    background-color: #EEE2C9;
    background-image: url("../img/background-waffle.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #000000;  
    box-sizing: border-box; 
    width: 1146px;
    height: 306px;
    border-radius: 15px; 
    padding-top: 25px;
    padding-right: 20px;
    padding-bottom: 26px;
    padding-left: 20px;
    margin-bottom: 40px;
}
.features-subtitle {
    font-size: 24px;
    line-height: 30px; 
    font-weight: 500; 
    margin: 0px; 
    margin-bottom: 20px;
}
.features-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;    
    padding: 0px;
}
.feature-item {
    position: relative;
    max-width: 480px;   
    padding-left: 58px;
}
.feature-item p {
    margin: 0px;
    margin-bottom: 24px;
}
.feature-item::before {
    content: "";
    position: absolute;

    left: 0px;
    top: -12px;

    width: 50px;
    height: 50px;  
    background-repeat: no-repeat;
    background-position: 0 0;
}
.feature-item:first-child::before {
    background-image: url("../img/ice-cream.svg");
}
.feature-item:nth-child(2)::before {       
    background-image: url("../img/cow.svg");    
}
.feature-item:nth-child(3)::before {       
    background-image: url("../img/eco.svg");    
}
.feature-item:last-child::before {       
    background-image: url("../img/thermometer.svg");    
}
.feature-item:nth-child(2n-1) {
    margin-right: 25px;
}
.news {
    background-color: #ffffff;
    background-image: url("../img/background-strawberry.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #000000;
    width: 560px;
    height: 220px;
    border-radius: 15px;
}
.news h2 {
    font-size: 16px;
    font-weight: 500; 
    margin: 0;
    padding: 0;
    margin-left: 20px;
    margin-top: 23px;
}
.news h3 {
    max-width: 285px;
    margin: 0px;
    margin-top: 4px;
    margin-left: 20px;
}
.news a {
    font-size: 24px;
    line-height: 30px; 
    font-weight: 700; 
    color: #000000;
    text-decoration: underline;    
}
.subscription {
    background-color: #f8f7f4;
    background-image: url("../img/background-mail.jpg.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #000000;
    width: 560px;
    height: 220px;
    border-radius: 15px;  
    padding: 34px 26px;  
    box-sizing: border-box;
}
.subscription p {
    margin: 0px;
    margin-bottom: 36px;
}
.subscription-form input {
    width: 368px;
    min-height: 44px;   
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: none;
    border: solid 1px #d3d3d2;
    padding: 9px 15px;
}
.subscription input::placeholder {   
    font-size: 16px;
    line-height: 24px;  
    color: #999999; 
    font-weight: normal;       
}
.subscription-button {
    padding: 11px 15px;
    margin-left: 8px;
}
.contacts {
    position: relative;
    max-width: 1200px;
    min-width: 320px;
    margin-right: auto;
    margin-left: auto;   
}
.contacts-info {
    position: absolute;
    top: 63px;
    right: 27px;

    background-color: #ffffff;
    max-width: 302px;
    min-height: 305px;
    border-radius: 15px;
    padding: 0px 25px;
}
.contacts::before {
    content: "";
    position: absolute;

    left: 266px;
    top: 139px;

    width: 85px;
    height: 145px;  
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url("../img/pin.svg")
}
.feedback {
    display: none;
    position: fixed;
    background-color: #f8f7f4;  
    width: 478px;  
    top: 340px;
    left: 50%;
    margin-left: -240px;
    box-sizing: border-box;
    border: none;
    border-radius: 10px; 
    padding: 20px 24px;
    padding-bottom: 27px; 
    z-index: 2;       
}
.feedback h2 {
    color: black;
    padding: 0px;
    margin: 0px;
    margin-bottom: 22px;
}
.feedback-form {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0px;
}
.feedback p {
    margin: 0px;
    margin-bottom: 20px;
}
.feedback input {
    min-height: 44px;
    box-sizing: border-box;
    min-width: 270px;
    padding: 12px 15px;  
    border-radius: 5px;
    box-shadow: none;
    border: solid 1px #d3d3d2;
}
.feedback input::placeholder {
    font-size: 16px;
    line-height: 24px;  
    color: #999999;
    font-weight: normal;     
}
.feedback textarea {
    min-height: 155px;
    width: 428px;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 11px 15px;
    border-radius: 5px;
    box-shadow: none;
    border: solid 1px #d3d3d2;
    font-size: 16px;
    line-height: 24px;  
    color: #999999;    
}
.feedback button {
    padding: 10px 20px;
    margin-left: auto;
    margin-right: 0;
}
.modal-close {
    position: absolute;
    top:  5px;
    right: 12px;
    width: 18px;
    height: 17px;
    border: 0;
}
.feedback-open {
    display: block;
}
.main-footer ul {
    list-style:none;
}
.social-button a{
    color: #ffffff;    
}
.social-button svg {
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.5)
}
.social-button svg:hover {
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.7);
}
.footer-link a{
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;   
    color: #ffffff;
    text-decoration: underline;
    padding-left: 30px;    
}
.footer-link-special{
    font-weight: 700;
}
.footer-links {
    position: relative;
}
.footer-link-special::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;

    width: 15px;
    height: 15px;  
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url("../img/heart.svg");
}
.footer-copyright {
    font-size: 12px;    
}
.footer-copyright a {
    color: #ffffff;
    text-decoration: underline;
}
.footer-copyright p {
}
.page-title {
    font-size: 35px;
    line-height: 41px;  
    font-weight: 700;  
    margin: 0px;
    padding: 0px;
    margin-bottom: 26px;
}
.breadcrumbs a {
    font-size: 14px;
    line-height: 16px;       
    color: #ffffff;
    text-decoration: underline;
}
.breadcrumbs-current a{
    text-decoration: none;
}
.wrap-item-button {
    display: none;
    position: absolute;
    width: 100%;
    top: 100%;
    padding-top: 10px; 
    padding-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 0 0 15px 15px; 
    z-index: 1;  
}
.item-button {
    margin: 0px;
    font-size: 18px;
    line-height: 24px; 
    font-weight: 700px;
    padding: 12px 16px;
}
.top-product-item h3,
.catalog-item h3{
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;  
    margin: 0px;
    margin-top: 5px;  
    padding: 0px 5px; 
}
.top-product-item img,
.catalog-item img{    
    border-radius: 50%; 
}
.top-product-item a,
.catalog-item a {
    color: #ffffff;
    text-decoration: underline;
}
.catalog-item:hover .wrap-item-button,
.top-product-item:hover .wrap-item-button {
    display: block;
}
.catalog-list li:hover,
.top-product-list li:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 15px 15px 0 0;
    text-align: center;
    display: flex;
}
.top-product-item a:focus,
.top-product-item a:hover,
.catalog-item a:focus,
.catalog-item a:hover {
    color:#ffbc9e; 
}
.top-product-item::before {
    content: "";
    position: absolute;

    width: 65px;
    height: 65px;  
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url("../img/hit.svg");
}
.top-product-item-price,
.catalog-item-price {
    position: absolute;
    margin: 0px;
    top: 210px;
    left: 0px;
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
}
.top-product-item-unit,
.catalog-item-unit {
    font-size: 30px;
    line-height: 45px;
    font-weight: 700; 
}
.breadcrumbs {
    display: flex;    
}
.site-navigation-current > a{   
    text-decoration: none; 
     
    background-color: #d07058;   
    border-radius: 18px;    
    box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);     
}
.site-navigation-current > a:hover {
    color: white;
}
.site-navigation-current > a::before {
    content: none;
}
.dropdown-current a{
    background-color: #d07058;
    color: white;
}
.contacts-base {
    font-size: 14px;
    line-height: 20px; 
    color: black; 
    margin-top: 30px;   
}
.contacts-base:nth-child(2) {
    margin-top: 20px;
    margin-bottom: 38px;
}
.contacts-main {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700; 
}
.filter-button {
    line-height: 18px; 
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;    
  
    background-color: rgba(255, 255, 255, 0.2);
    border: solid 2px #ffffff;
    border-radius: 20px;
    width: 144px;
    height: 37px; 
    margin-top: 5px;     
}
.filter-button:focus,
.filter-button:hover {
    color: #323232;
    background-color: #ffffff;
}
.filter-button:active {
    color: #323232;
    background-color: #ffffff;
    box-shadow: 0 2px 1px 0 #696969;
}
.filter-button-sorting,
.fillers-list { 
    font-size: 16px;   
    line-height: 18px;
    font-weight: 500;  
}
.filter {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;    
    margin-bottom: 24px;
    align-items: center;
}
.filter-background {
    padding: 7px 11px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 25px;
}
.filter-item {
    border: none;  
    margin: 0px;
    padding: 0px; 
    margin-right: 14px; 
    margin-bottom: 15px;
}
.filter-item legend {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;  
    padding-left: 16px;
    margin-bottom: 5px;
}
.filter-price legend{
    margin: 0px;
}
.fillers-list {
    display: flex;
    margin: 0px;
    padding: 0px;    
}
.fillers-list li {
    min-height: 22px;
    padding-top: 3px;
    margin-right: 16px;
}
.filter-button-sorting {
    line-height: 18px; 
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;    
    background-color: transparent;
    border: none;
  }
.filter-button-sorting svg {
      padding-left: 20px;
  }
.filter-button-sorting:focus,
.filter-button-sorting:hover {
    color: #323232;
}
.filter-button-sorting svg {
    fill: white;
}
.filter-button-sorting:focus svg,
.filter-button-sorting:hover svg {
    fill: #323232;
}
.filter-option-creaminess {
    margin-right: 15px;
}
.filter-option-creaminess:last-child {
    margin-right: 0px;
}
.filter-option-creaminess input {
    appearance: none;
    -webkit-appearance: none;
    position: relative;
    padding-left: 25px;
}
.filter-option-creaminess input::before {
    content: "";
    position: absolute;
    left: -6px;
    top: -18px;
    width: 25px;
    height: 25px;
    background-image: url(../img/radio-off.svg);      
    background-repeat: no-repeat;   
    opacity: 0.8;  
}
.filter-option-creaminess input:checked::before  {
    content: "";
    position: absolute;
    left: -6px;
    top: -18px;
    width: 25px;
    height: 25px;
    background-image: url(../img/radio-on.svg);      
    background-repeat: no-repeat; 
    opacity: 0.8; 
}
.filter-option-filler {
    appearance: none;
    -webkit-appearance: none;
    position: relative;
    padding-left: 25px;
}
.filter-option-filler::before {
    content: "";
    position: absolute;
    left: 0px;
    top: -13px;
    width: 25px;
    height: 25px;
    background-image: url(../img/checkbox-off.svg);      
    background-repeat: no-repeat; 
    opacity: 0.8;
}
.filter-option-filler:checked::before  {
    content: "";
    position: absolute;
    left: 0px;
    top: -13px;
    width: 25px;
    height: 25px;
    background-image: url(../img/checkbox-on.svg);      
    background-repeat: no-repeat; 
    opacity: 0.8;     
}
.filter-option-creaminess input:hover::before,
.filter-option-creaminess input:focus::before,
.filter-option-filler:hover::before,
.filter-option-filler:focus::before {
    opacity: 1;
}
.filter-option-creaminess input:disabled::before,
.filter-option-filler:disabled::before{
    opacity: 0.4;
}
.range-slider  {
    margin: 0px;
    max-width: 220px;
}
.price-controls {
    display: inline-block;  
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;  
    padding-left: 16px;    
    margin-bottom: 5px;
    vertical-align: top;
}
.price-controls input {
    width: 38px;
    margin: 0;  
    padding: 0px;    
    color: inherit;
    font: inherit;  
    background: none;
    border: none;
}
.range-slider-track {
    position: relative; 
    min-height: 20px;  
    padding: 7px 22px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 25px;       
}
.range-slider-track .scale {
    position: relative;
    width: 176px;
    height: 4px; 
    background: rgba(248, 247, 244, 0.5);    
    margin-top: 7px;    
}  
.range-slider-track .bar {
    position: absolute;
    left: 25px;
    width: 107px;
    height: 4px;
    background: #f8f7f4;
}  
.range-slider-pin {
    position: absolute;
    top: 5px;    
    width: 20px;
    height: 22px;
    background-image: url(../img/filter-button.svg);      
    background-repeat: no-repeat; 
    cursor: pointer;    
}
.range-slider-pin-min {
    left: 35px;
}
.range-slider-pin-max {
    left: 134px;
}
.pagination-item a{
    line-height: 18px;
    font-weight: 500;  
    color: #ffffff;
}
.container {
    max-width: 1146px;
    min-width: 320px;
    margin: 0 auto;
    padding-left: 27px;
    padding-right: 27px;
}
.header-wrap {
    display: flex;   
    align-items: center;   
}
.user-navigation {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    margin-left: auto;
    justify-content: flex-end;
}
.offer-list {
    display: flex; 
    margin: 0px;
    margin-top: 42px;
    margin-bottom: 40px;
    padding: 0px;
}
.top-product-list,
.catalog-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
}
.top-product-item,
.catalog-item {
    position: relative;
    max-width: 267px;
    margin-right: 26px;
    margin-bottom: 40px;
    text-align: center;
}
.top-product-item:nth-child(4n),
.catalog-item:nth-child(4n)
 {
    margin-right: 0px;
}
.index-columns {
    display: flex;
    margin-bottom: 39px;
    justify-content: space-between;
}
.main-footer {
    display: flex;
    align-items: center;
    min-height: 105px;
    justify-content: space-between;
}
.footer-social {
    display: flex;
    margin: 0px;
    margin-right: auto;
    padding: 0px;
}
.social-button {
    padding-right: 14px;
}
.footer-social li:last-child {
    padding-right: 0px;
}
.footer-links {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;  
    padding: 0px;
    margin-right: 12px;
    width: 340px;    
}
.footer-link {
    text-align: left; 
    min-width: 140px;   
}
.footer-copyright { 
    margin-left: auto;
}
.footer-copyright p {
    margin: 0px;
    padding: 0px;
}
.breadcrumbs {
    margin: 0px;
    padding: 0px; 
    margin-top: 19px;
    margin-bottom: 2px;
}
.breadcrumbs li::after {
    padding-left: 7px;
    padding-right: 7px;
    content:"»";
}
.pagination-list {
    display: flex;
    margin: 0px;  
    margin-top: 42px;
    padding-bottom: 30px;
    justify-content: flex-end; 
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.pagination-item {
    width: 27px;
    height: 27px;
    position: relative;
    cursor: pointer; 
}
.pagination-item a {    
    width: 100%;
    height: 100%;
    display: block;
    line-height: 27px;  
    text-align: center;         
}
.paginator-item-current a {
    color: black;
}
.paginator-item-current::before {
    content: "";
    position: absolute;
    background-color: transparent;         
    width: 100%;
    height: 100%;
}
.paginator-item-current {
    background-color: white;
    border-radius: 50%;   
}
.pagination-item:not(:first-child):not(:last-child):hover::before,
.pagination-item:not(:first-child):not(:last-child):focus::before{
    content: "";
    position: absolute;
    background-color: rgba(255, 255, 255, 0.2);    
    border-radius: 50%;      
    width: 100%;
    height: 100%;
}
.pagination-item:not(:first-child):not(:last-child):active::before {
    content: "";
    position: absolute;
    background-color: white;    
    border-radius: 50%;      
    width: 100%;
    height: 100%;
    color: black;
}
.pagination-item:first-child svg{
    transform: scale(-1, 1);
    fill-opacity: 0.5;
}
.pagination-item svg {
    padding: 7px 0px;
}
.pagination-item:last-child svg {
    padding-left: 20px;
}
.feedback-form input:hover,
.search-form input:hover,
.login-form input:hover,
.subscription-form input:hover {
    box-shadow: 0 0 0 1px rgba(154, 154, 154, 0.52);
    border: solid 1px rgba(154, 154, 154, 0.52);
}
.feedback-form input:focus,
.search-form input:focus,
.login-form input:focus,
.subscription-form input:focus {
    box-shadow: 0 0 0 1px rgba(46, 136, 228, 0.52);
    border: solid 1px rgba(46, 136, 228, 0.52);
}








