body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #ffffff;

    background-color: #849D8F;
    background-position: top center;  
  }
a {
    text-decoration: none; 
  }
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}
.modal   {
    display: none
}
.button {
    font-size: 18px;
    line-height: 24px; 
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;       
    
    background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);    
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
      
    border: none; 
    border-radius: 50px;
}
.button:hover,
.button:focus {  
    background-image: linear-gradient(#f58669, #ec6f5e);
    box-shadow: 0 2px 2px #9e4334;
}
.button:active {
    box-shadow: inset 0px 2px 2px 0 #942718;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(to top, #e74a35, #f26843);
}
.slider-button {
    font-size: 32px;
    line-height: 44px; 
    padding: 17px 42px;    
}
.offer-button {
    padding: 15px 22px;
}
.subscription-button {
    padding: 14px 20px;
}
.contacts-button {
    padding: 13px 28px;
}
.item-button {
    font-size: 18px;
    line-height: 24px; 
    font-weight: 700px;
    padding: 13px 17px;     
}
.main-navigation-list > li {
    margin-right: 27px;
}
.main-navigation a{       
    line-height: 18px; 
    font-weight: 700;
    color: #ffffff;
    text-decoration: underline;
}
.main-navigation-list,
.slider-list,
.offer-list,
.features-list,
.breadcrumbs,
.fillers-list,
.catalog-list,
.top-product-list,
.pagination-list,
.main-navigation-dropdown-list {
    list-style: none;
}
.main-navigation-dropdown-list {
    display: none; 
    width: 143px;
    padding: 0;
    margin-top: 15px;
}
.main-navigation-list li:hover > ul {    
    display: block;
    border-radius: 10px;    
}
.main-navigation-dropdown-list a{
    font-size: 14px;    
    line-height: 16px; 
    font-weight: 400;
    display: block;
    color: black;
    text-decoration: none;
    background-color: #ffffff; 
    padding: 9px 20px;
}
.main-navigation-list > li > a:hover {
    background-color: #ffffff;
    color: #000000;
    border-radius: 15px;
    padding: 10px 13px;
}
.main-navigation-dropdown-list a:hover{ 
    background-color: #fbded7;
    color: black;
}
.main-navigation-dropdown-list a:active{
    background-color: #f6b5a5;
}
.header-contacts {
    font-size: 14px;
    line-height: 16px; 
    font-weight: 700;
}
.header-tel {
    font-size: 22px;
    line-height: 24px; 
    font-weight: 700; 
}
.slider-item {
    font-size: 60px;
    line-height: 60.5px; 
    font-weight: 700; 
}
.offer-item:first-child {
    background: url("../img/raspberries.png") no-repeat;    
    background-color: #9c1e25;
    background-size: cover;
    width: 560px;
    height: 229px;
    border-radius: 15px;
}
.offer-item:nth-child(2) {
    background: url("../img/chocolate.png") no-repeat;    
    background-color: #60442f;
    background-size: cover;
    width: 560px;
    height: 229px;
    border-radius: 15px;
}
.offer-item h3{
    font-size: 35px;
    line-height: 41px; 
    font-weight: 700;  
}
.offer-item p{
    font-size: 18px;
    line-height: 22px; 
    font-weight: 700;  
}
.footer-links a:hover,
.footer-copyright a:hover,
.footer-links a:focus,
.footer-copyright a:focus {
    color:#ffbc9e;
}
.news a:hover,
.news a:focus {
    color: #e84d37;
}
.features {
    background-color: #EEE2C9;
    background-image: url("../img/background-waffle.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #000000;   
    width: 1146px;
    height: 306px;
    border-radius: 15px; 
}
.features-subtitle {
    font-size: 24px;
    line-height: 30px; 
    font-weight: 500;   
}
.news {
    background-color: #ffffff;
    background-image: url("../img/background-strawberry.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #000000;
    width: 560px;
    height: 220px;
    border-radius: 15px;
}
.news h2 {
    font-weight: 500; 
}
.news a {
    font-size: 24px;
    line-height: 30px; 
    font-weight: 700; 
    color: #000000;
    text-decoration: underline;
}
.subscription {
    background-color: #ffffff;
    background-image: url("../img/background-mail.jpg.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #000000;
    width: 560px;
    height: 220px;
    border-radius: 15px;
}
.main-footer ul {
    list-style:none;
}
.social-button a{
    color: #ffffff;
}
.footer-link a{
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;   
    color: #ffffff;
    text-decoration: underline;
}
.footer-link:first-child a{
    font-weight: 700;
}
.footer-copyright {
    font-size: 12px;    
}
.footer-copyright a {
    color: #ffffff;
    text-decoration: underline;
}
.page-title {
    font-size: 35px;
    line-height: 41px;  
    font-weight: 700;   
}
.breadcrumbs a {
    font-size: 14px;
    line-height: 16px;       
    color: #ffffff;
    text-decoration: underline;
}
.top-product-item h3,
.catalog-item h3{
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;     
}
.top-product-item img,
.catalog-item img{    
    border-radius: 50%; 
}
.top-product-item a,
.catalog-item a {
    color: #ffffff;
    text-decoration: underline;
}
.item-button {
    display: none;
}
.catalog-list li:hover .item-button,
.top-product-list li:hover .item-button {
    display: block;
}
.catalog-list li:hover,
.top-product-list li:hover {
    background-color: #9bafa3;
    border-radius: 15px;
}
.top-product-item a:focus,
.top-product-item a:hover,
.catalog-item a:focus,
.catalog-item a:hover {
    color:#ffbc9e; 
}
.top-product-item-price,
.catalog-item-price {
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
}
.top-product-item-unit,
.catalog-item-unit {
    font-size: 30px;
    line-height: 45px;
    font-weight: 700; 
}
.main-navigation-list,
.breadcrumbs {
    display: flex;    
}
.site-navigation-current > a{   
    width: 100%;
    height: 100%;
    padding: 8px 14px;

    text-decoration: none; 
     
    background: linear-gradient(to bottom,  #e74a35, #f26843);   
    border-radius: 15px;    
    box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64); 
}
.dropdown-current a{
    background-color: #d07058;
    color: white;
}
.contacts-base {
    font-size: 14px;
    line-height: 20px;     
}
.contacts-info {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700; 
}
.filter-button-sorting {
    line-height: 18px; 
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;    
  
    background-color: #9db1a5;
    border: none;
    border-radius: 20px;
    width: 194px;
    height: 37px;    
}
.filter-button-sorting:focus,
.filter-button-sorting:hover {
    color: #323232;
}
.filter-button {
    line-height: 18px; 
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;    
  
    background-color: #9db1a5;
    border: solid 2px #ffffff;
    border-radius: 20px;
    width: 144px;
    height: 37px;      
}
.filter-button:focus,
.filter-button:hover {
    color: #000000;
    background-color: #ffffff;
}
.filter-button:active {
    color: #000000;
    background-color: #ffffff;
    box-shadow: 0 2px 1px 0 #696969;
}
.filters legend {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;  
}
.filter-button-sorting,
.fillers-list { 
    font-size: 16px;   
    line-height: 18px;
    font-weight: 500;  
}
.pagination-item a{
    line-height: 18px;
    font-weight: 500;  
    color: #ffffff;
}
.container {
    max-width: 1200px;
    min-width: 320px;
    margin-right: auto;
    margin-left: auto; 
}
.header-wrap {
    display: flex;
    max-width: 1200px;
    min-width: 320px;
    margin-right: auto;
    margin-left: auto; 
}
.header-logo {
    margin-left: 27px;
}
.main-navigation-list {
    display: flex;
    margin: 0px;
    padding: 0px;
    margin-top: 20px;
    align-items: center;
}
.main-navigation-list > li {
    margin: 0px;
    margin-left: 26px;    
}
.user-navigation {
    display: flex;
    margin-left: auto;
    width: 250px;
    align-items: center;
}
.header-contacts {
    text-align: right;
    margin: 0;
    margin-right: 27px;
}
.slider {
    text-align: center;
    margin: 0;
    padding: 0;
}
.slider-wrap-button {
    display: flex; 
    margin-left: 27px;   
}
.slider-control {
   margin-right: 355px; 
   max-width: 85px;
}
.offer-list {
    display: flex; 
    margin: 0px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 0px;
}
.offer-item {
    margin-left: 27px;
}
.top-product-list,
.catalog-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
}
.top-product-item,
.catalog-item {
    max-width: 267px;
    margin-left: 26px;
    margin-bottom: 35px;
    text-align: center;
}
.features {  
    margin: 0px;
    margin-bottom: 40px;
    margin-left: 27px;
    padding: 0px;
}
.features-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;    
    padding: 0px;
}
.feature-item {
    width: 550px;
    margin-left: 20px;
}
.index-columns {
    display: flex;
    margin-bottom: 20px;
}
.news,
.subscription {
    margin-left: 27px;
}
.main-footer {
    display: flex;
    align-items: center;
}
.footer-social {
    display: flex;
    margin: 0px;
    margin-left: 27px;
    margin-right: auto;
    padding: 0px;
    max-width: 190px;
}
.footer-links {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;  
    margin-left: 210px;  
    padding: 0px;
    max-width: 340px; 
    text-align: left;
}
.footer-link {
    margin-left: 25px;
    text-align: left;
}
.footer-copyright { 
    max-width: 190px;
    margin-right: 27px;
    margin-left: auto;
}
.footer-copyright p {
    margin: 0px;
    padding: 0px;
}
.breadcrumbs {
    margin: 0px;
    padding: 0px;   
    margin-left: 7px; 
    margin-bottom: 5px;
}
.breadcrumbs li {
    margin-left: 20px;
}
.page-title {
    margin: 0px;
    padding: 0px;
    margin-left: 27px;
    margin-bottom: 32px;
}
.filter {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
    margin-left: 27px;
    margin-bottom: 36px;
    align-items: center;
}
.fillers-list {
    display: flex;
    margin: 0px;
    padding: 0px;
}
.pagination-list {
    display: flex;
    margin: 0px;
    margin-right: 27px;
    margin-bottom: 28px;
    justify-content: flex-end; 
}
.pagination-item {
    margin-right: 20px;

}







